@import url(https://fonts.googleapis.com/css?family=Passion+One);@import url(https://fonts.googleapis.com/css?family=Chonburi);*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 100%;
  font-family: 'Passion One', cursive;
}

.STestComponent {
  color: red;
  padding: .1px;
}

.STestComponent .Container{
  background-color: white;
}

.STestComponent .Container .Wrapper {
  width: 90%;
  margin: 0 auto;
}

.Blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.Contacts{
  color:white;
  padding-bottom: 1rem;
  background: rgb(96,108,136);
  background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%);
  background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
}

.Contacts > .ContactsFlex{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.Contacts > .ContactsFlex > div {
  width: 35%;
  margin-bottom: 1rem;
}


.Contacts > h2{
  text-align: center;
  padding: 1rem 0;
}

@media screen and (max-width: 600px) {
  html{
    font-size: 100%;
  }

}

.Block{
    display: block;
    color:black;
    padding-bottom: 10px;
    margin-top: 4vmin;
    width: 47%;
    font-size: 1.7rem;
    padding-bottom: 5vh;
    border-bottom: 1px solid black
}

.Block > .Title{
    text-align: center;
    padding: 0.6rem;
    font-size: 2rem;
}
.Block > .Title > span{
    border-bottom: 0.1rem solid black;
}


.Block > .Img > a > img{
    position: relative;
    width: 95%;
    margin: 1rem 0;
    left: 2.5%;
    border: 2px solid rgba(0,0,0,0);
    padding: 2px;
    transition: 0.35s ease
}

.Block:hover > .Img > a > img{
    transform: scale(1.15);
    border-color:rgba(0,0,0,1);
}


.Block > .Tec,  .Des{
    font-size: 1rem;
    padding:0 2%;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .Block {
        width: 90%;
    }
  }
.PortNav{
    display: block;
    position: fixed;
    color: white;
    text-align: right;
    font-size: 2rem;

    background: rgb(40,52,59);
    background: -moz-linear-gradient(left, rgba(40,52,59,1) 0%, rgba(130,140,149,1) 64%, rgba(181,189,200,1) 100%);
    background: -webkit-linear-gradient(left, rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%);
    background: linear-gradient(to right, rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 );
   
    width: 100%;
    z-index: 1;
}

.PortNav > ul{
    display: inline-block;
}

.PortNav > ul > li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 1rem 10px 1rem;
    position: relative;
    transition: 0.4s ease
}  

.PortNav > ul > li:hover:after{
    content:"";
    width: 100%;
    height: 0.5rem;
    display: block;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: 0px;
}

.PortNav > ul > li:hover{
    color: black;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width: 600px) {

    .PortNav{
        position: relative;

        background: rgb(181,189,200);
        background: -moz-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
        background: radial-gradient(ellipse at center, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
    }

    .PortNav > ul > li {
        text-align: center;
        width: 100%;
    }

    .PortNav > ul > li:hover{
        outline: .1rem solid black;
        transform: scaleX(1.3)
    }

    .PortNav > ul > li:hover:after{
        background-color: transparent;
    }

}.AboutMe{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Chonburi', cursive;
    font-size: 2.1rem;
}

.AboutMe > div {
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba(46, 54, 49, 0.727);
}

.AboutMe > div > div{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url("https://image.ibb.co/m3Lm1y/technology_785742_1280_min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.AboutMe > span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:white;
    line-height: 3rem;
    text-align: center;
} 

/* .AboutMe > div > div > div{

}

.AboutMe > div > div > div > div{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    color:white;
    z-index: 2;
} */


@media screen and (max-width: 600px) {
    .Block {
        width: 90%;
    }

    .AboutMe > div > div{
        position: relative;
    }

  }

/*# sourceMappingURL=main.bundle.f62df9470ba6adc57d6d.css.map*/