doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")

	body
		.email-container
			.email-header
				.email-header-wrapper
					.email-center
							.email-headet-topcolor: #a1a1a1line
								
							.email-headet-top
								p Второй международный междисциплинарный конгресс "Проблемы репродукции. Инновационные технологии в репродуктивной медицине" 23 апреля 2018

							.email-headet-top-lower
								h3 Прекурс
								p Практическое применение препаратов на основе гиалуроновой кислоты Desirial® и Desirial® Plus в работе врачей акушеров-гинеколов .
							
							
							
							.email-headet-top-title.
								Место проведения: г. Минск, проспект Победителей, 103, гостиница «Виктория Олимп», конгресс-зал «Барселона»
							a(href="#").email-button Регистрация
						

			
			.email-speakers
				.email-center
					.email-speaker-header
						p Спикеры:
					
					.email-speaker-item

							img(src="http://www.imageup.ru/img185/3022940/1.jpg", alt="Alt")

							h3 Савочкина Юлия Владимировна, г.Минск, Беларусь
							p Главный акушер-гинеколог Минздрава Республики Беларусь, доцент, кандидат медицинских наук, автор более 30 научных работ
					
					.email-speaker-item

							img(src="http://www.imageup.ru/img185/3022943/2.jpg", alt="Alt")

							h3 Наталия Лакотко, г. Минск, Беларусь
							p Кандитат медицинских наук, врач акушер-гинеколог медицинского центра «Конфиденс». Член европейского общества эстетической гинекологии.
					.email-speaker-item

							img(src="http://www.imageup.ru/img185/3022945/3.jpg", alt="Alt")

							h3 Catherine Gladkova г.Париж, Франция
							p Catherine Gladkova - присоединилась к команде Vivacy в 2015 году в качестве менеджера по экспорту. Степень магистра в области международного управления бизнесом иразвития продаж. 10 лет в развитии международного бизнеса и имплантации.
					
					.email-speaker-item
				
							img(src="http://www.imageup.ru/img185/3022947/4.jpg", alt="Alt")

							h3 Dr Nicolas Berreni г.Перпиньян, Франция
							p Практикующий акушер- гинеколог, Университетский диплом:
							p - Пластическая и челюстно-лицевая хирургия (Университет PARIS 12)
							p - Эстетическая медицина (SOPHIA ANTIPOLIS University - NICE)
							p Постоянный спикер международных конгрессов. Имеет медицинскую степень в Университете Нэнси Затем он специализировался на хирургической гинекологии и сталначальником акушерства отделений больниц Foix и Pamiers в 1981году. 1990 - 1993 год возглавлял важный европейский проект,ориентированной на динамическую фототерапию в онкологическомлечении. Провел важную исследовательскую программу для отделамедицинской визуализации EnseightPolytechnique школы Тулузы.

						
						
					.email-speaker-item.clear-both.border-none

							img(src="http://www.imageup.ru/img185/3022950/5.jpg", alt="Alt")

							h3 Charlotte REY г.Анси, Франция
							p Charlotte REY имеет степень магистра в области медицины и здравоохранения, спецализирующуюся в области медицинских приборов , а также специалист по международной стратегии и промышленному маркетингу. 
							p Она провела несколько стажировок, одна в исследовательской лаборатории по физиопатологии и сосудистой терапии в Тимоне-больнице в Марселе и 3 в компаниях медицинских приборов в области хирургии позвоночника, внутрисуставных протезов и спинальной нейростимуляции. Charlotte REY является менеджером продуктов с гиалуроновой кислотой для лабораторий VIVACYс 2016 года.
			.email-reg-container.email-header
				.border-top-bot
					p Не упустите свой шанс!
					p Успейте зарегистрироваться!
					a(href="#").email-button Регистрация
					p Условия участия уточняйте у менеджеров
			.email-agenda-container
				.email-left
					.email-agenda-header 
						p Программа					
					.email-agenda
						p <b> 10:00-10:30</b> Регистрация 
						p <b> 10:30-10:45 Спикер: </b>
						p <b>Главный акушер гинеколог Республики Беларусь Савочкина Юлия Владимировна</b> 
						p Эстетическая гинекология. Основные тенденции развития в Республике Беларусь 
						p <b> 10:45-11:15 Спикеры: </b>
						p <b> Catherine GLADKOVA - Менеджер по экспорту </b>
						p <b> Charlotte REY - Менеджер по продукции с гиалуроновой кислотой </b>
						p Презентация Laboratoires Vivacy & Products 
						p - Гиалуроноваея кислота: каковы основные критерии выбора 
						p - Desirial® уникальный продукт на основе гиалуроновой кислоты для женских половых органов. 
						p Эффективность, безопасность. 
						p <b> 11:15-12:15 </b>
						p <b> Спикер: Доктор Николя Беррени </b>
						p Рациональное применение гиалуроновой кислоты в гинекологии; 
						p Désirial® Настоящая инновация для здоровья и благополучия женщины - 
						p Сухость слизистой - Диспареуния 
						p <b> 12:15-13:15 Обед 13:15-15:15 Спикер: Доктор Николя Беррени </b>
						p Авторскиий мастер класс. Практический применение препаратов Désirial®. 
						p 2 Модели 15:15-15:45 Спикер: Catherine GLADKOVA - Менеджер по экспорту 
						p <b> Charlotte REY - Менеджер по продукции с гиалуроновой кислотой </b>
						p Уникальные реологические свойства продуктов Vivacy: 
						p - Desirial® Plus отличительная адаптация продукта к определенной глубине введения 
						p <b> 15:45-16:30 </b>
						p <b> Спикер: Доктор Николя Беррени </b>
						p Désirial® Plus. Истинное нововведение для здоровья и благополучия женщины 
						p - Лабиопластика - интимная контурная пластика 
						p <b> 16:30-17:00 Спикер: </b>
						p <b> Наталия Лакотко к.м.н., врач акушер-гинеколог </b>
						p Применение препарата гиалуроновой кислоты «Дезириаль плюс» в комплексном лечении СНМ и синдрома релаксации влагалища. 
						p <b> 16:30-18:00 Спикер: </b>
						p <b> Доктор Николя Беррени </b>
						p Авторскиий мастер класс. Практический применение препаратов Désirial® Plus. 
						p 2 Модели 
						p <b>18:00 Выдача сертификатов.</b>


			.email-footer
				.border-top-bot
					img(src="http://www.imageup.ru/img185/3022997/logo.jpg", alt="Alt")
					p Эксклюзивный дистрибьютор - частное предприятие «Сторк»
					p г.Минск, пр. Победителей, 89
					p tel.: +375 (17) 369-65-21
					p tel.: +375 (29) 328-55-68
					p tel.: +375 (29) 328-55-84
					a(href="http://desirial.eu")
						p desirial.eu